body {
  margin: 0px;
  padding: 0px;
}

.glove_layer-1 { 
	width:73%; height:76.7%; 
	left:12.4%; top:15.7%;
}

.glove_layer-2 { 
	width:20.5%; height:39%; 
	left:62.2%; top:44.5%;
}

.glove_layer-3 { 
	width:52.8%; height:70.6%; 
	left:14.5%; top:19.5%;
}